<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590618268030-r22274ert0j8l8f99sctsumr7t26lova.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590618268030-r22274ert0j8l8f99sctsumr7t26lova</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>590618268030-23fm2bvjtnv4b3esr5c40itk7ac1fg8g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAr1y6o6j4MZpfAvJBVjzy7hB59WJ04TOM</string>
	<key>GCM_SENDER_ID</key>
	<string>590618268030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.szik.szikapp</string>
	<key>PROJECT_ID</key>
	<string>szikapp-18</string>
	<key>STORAGE_BUCKET</key>
	<string>szikapp-18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590618268030:ios:f5ec0a6bbef6f32950e32f</string>
</dict>
</plist>